{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-2">
            <a href="#" class="btn btn-outline-dark m-2">Indietro</a>
        </div>
        <div class="col-md-5">
            <h1>Carica Immobile</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <form action="" method="POST" enctype="multipart/form-data" class="m-3">  
                    {% csrf_token %}

                    <div class="form-group my-3">
                        <label class="form-label">Titolo</label>
                        <input name="title " type="text" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Città</label>
                        <select name="city" class="form-control">

                            <option value="none">Seleziona una città</option>

                            {% for property in properties %}
                                <option value="{{property.id}}">{{property.city}}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Inserisci città</label>
                        <input name="city_new " type="text" class="form-control">
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Descrizione</label>
                        <input name="description" type="text" class="form-control">
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Link VirtualTour</label>
                        <input name="virtual_tour " type="text" class="form-control">
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Immagine di Copertina</label>
                        <input name="thumbnail " type="file" class="form-control">
                    </div>

                    <div class="form-group my-3">
                        <label class="form-label">Carica Immagini</label>
                        <input name="image" type="file" multiple class="form-control">
                    </div>

                    <div class="form-group d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-success"> Carica Immobile </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}